{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'case1_style.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="area1">
        <div id="team_name">Canon Korea_5조</div>
        <div id="list">
            <div onclick="location.href='{% url 'index'%}'" style="cursor: pointer;">Main</div>
            <div onclick="location.href='{% url 'page'%}'" style="cursor: pointer;">분석</div>
            <div onclick="location.href='{% url 'index'%}#area3'" style="cursor: pointer;">About</div>
        </div>
    </div>
    <div id="area3">
        <div id="box2">
            <div id="text2">Case1</div>
            <div id="box3">
                <div id="img1">
                    <div class="img_box"></div>
                    <div class="img_box"></div>
                    <div class="img_box"></div>
                    <div class="img_box"></div>
                    <div class="img_box"></div>
                </div>
                <div id="img2">
                    <div class="img_box"></div>
                    <div class="img_box"></div>
                    <div class="img_box"></div>
                    <div class="img_box"></div>
                    <div class="img_box"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>