{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="area1">
        <div id="team_name">Canon Korea_5조</div>
        <div id="list">
            <div style="cursor: pointer;">Main</div>
            <div onclick="location.href='{% url 'page'%}'" style="cursor: pointer;">분석</div>
            <div onclick="location.href='#area3'" style="cursor: pointer;">About</div>
        </div>
    </div>
    <div id="area2">
        <div id="box1">
            <div id="text1">핸디형 비전,<br>조작부 상태 감지 시스템</div>
            <div id="btn_box">
                <div class="btn1">이미지 선택</div>
                <div onclick="location.href='{% url 'page'%}'" class="btn1">분석하기</div>
            </div>
        </div>
    </div>
    <div id="area3">
        <div id="box2">
            <div id="text2">Project</div>
            <div id="text3">복합기 조작부 상태를 실시간으로 분석하는 시각 인식 시스템입니다.<br> 1cycle 동안 촬영된 이미지 시퀀스를 업로드하면,<br> 각 target(버튼, 패널 등)의 상태를 자동으로 감지하여 분류 결과를<br> 확인할 수 있습니다.</div>
        </div>
    </div>
    <div id="area4">
        <div id="area5">
            <div id="title1">Case 결과</div>
        </div>
        <div id="area6">
            <div id="img">
                <div class="box3 box1">
                    <div class="case">Case1</div>
                    <div class="pass">Pass</div>
                </div>
                <div class="box3 box2">
                    <div class="case">Case2</div>
                    <div class="pass">Pass</div>
                </div>
                <div class="box3 box3img">
                    <div class="case">Case3</div>
                    <div class="fail">Fail</div>
                </div>
                <div class="box3 box4">
                    <div class="case">Case4</div>
                    <div class="pass">Pass</div>
                </div>
            </div>
        </div>
        <div id="btn2">더 보기</div>
    </div>
</body>
</html>